@import "tailwindcss";

@theme {
  --color-primary: #094B72;
  --color-secondary: #1B263B;
  --color-accent: #1282A6;
  --color-accent-light: #778DA9;
  --color-background: #F9F8F9;
  --color-light: #F2FCFF;

  --font-heading: "Playfair Display", serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-alt: "Poppins", sans-serif;
}
